<h2>What organization would you like to join?</h2>

<%= form_with model: Current.user, url: org_join_path do |f| %>

  <p>
  <%= f.label 'organization name:'%><br>
  <%= f.text_field :company %>
  </p>

  <p>
  <%= f.submit 'Update' %>
  </p>

  <br><%= link_to 'Return', root_path %>

<% end %>
